<h1>Productos</h1>
<div id="productos">
  <!-- productos servirá para ir actualizando los productos que se vayan agregando y eliminando. -->
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>